.c-carousel {
    height: 100vh;

    &__inner {

     }

    &__cell {
        margin-right: 20px;
        overflow: hidden;

        img {
            display: block;
            height: 200px;
            max-width: unset;
        }
    }

    @media screen and ( min-width: 768px ) {
        &__cell img {
            height: 400px;
        }
    }
}