.c-teaser {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

     &__text {
         @extend .c-hero__heading;
         font-size: 40px;
         line-height: 1.1;
         margin: 12px;
         text-align: center;
         text-shadow: 0 -2px #fff;

        @include mq(tablet) {
            font-size: 72px;
            margin: 24px;
        }
     }
}