{% extends "partials/_layout.njk" %}

{% block content %}
<main class="l-main">
        <canvas id='canvas'></canvas>
        <div class="c-container">
            <section class="c-hero">
                <span class="c-hero__emoji">🎄</span>
                <div class="c-hero__heading">
                    <span>❄️</span>
                    <h1 class=""> Boldog<br>Karácsonyt!</h1>
                    <span>❤️</span>
                </div>
                <span class="c-hero__emoji">🎁</span>
                <span class="c-hero__we"><strong>Puszi:</strong><br>
                Réka & Szabi
                </span>
                <div class="c-chevron">
                    <div class="c-chevron__el"></div>
                    <div class="c-chevron__el"></div>
                    <div class="c-chevron__el"></div>
                </div>
            </section>
            {# <img src="img/image.jpg" alt=""> #}
            <section class="">

            </section>
        </div>
    </main>
{% endblock %}