{% extends "partials/_layout.njk" %}

{% block content %}
<main class="l-main">
    <div class="c-container">
        <section class="c-hero">
            <span class="c-hero__emoji">🎄</span>
            <div class="c-hero__heading">
                <span>❄️</span>
                <h1 class=""> Boldog<br>Karácsonyt!</h1>
                <span>❤️</span>
            </div>
            <span class="c-hero__emoji">🎁</span>
            <span class="c-hero__we"><strong>Puszi:</strong><br>
            Réka & Szabi
            </span>
        </section>
        <section class="c-teaser">
            <span class="c-teaser__text">Ajándék is lesz? :)</span>
        </section>
        <section class="c-teaser">
            <span class="c-teaser__text">Görgetni kell még kicsit, hogy kiderüljön</span>
        </section>
        <section class="c-carousel">
            <div class="c-container">
                <div class="c-carousel__inner">
                    <div class="c-carousel__cell">
                        <img src="img/1979.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/2283.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/2271.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/1817.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/544.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/545.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/908504.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="c-info">
            <table>
                <tr>
                    <td><strong>Hol?</strong></td>
                    <td>Hunguest Grandhotel Galya Galyatető</td>
                </tr>
                <tr>
                    <td><strong>Mi?</strong></td>
                    <td>Kényeztető tavaszi vagy nyáreleji wellness Galyatetőn a Hunguest GrandhotelGalyában**** 2 főre 2 éjre félpanziós ellátással (svédasztalos reggeli és vacsora)</td>
                </tr>
                <tr>
                    <td><strong>Hogy lehet menni?</strong></td>
                    <td>2019. március 18 - június 30. közötti időszakban, csak hétköznapokon :(, a szállodával egyeztetett időpontban.</td>
                </tr>
                <tr>
                    <td><strong>Időpont foglalás</strong></td>
                    <td>Hunguest Grandhotel Galya Galyatető<br>3234 Galyatető Kodály Zoltán sétány 10.<br>+3637576504<br>grandhotelgalya@hunguesthotels.<br>huIdőpont foglaláskor erre a kódra lesz szükség: <strong>NKPYZR</strong></td>
                </tr>
            </table>
            <span>❤️</span>
        </section>
    </div>
</main>
{% endblock %}